h1 {
  font-family: Trebuchet, sans-serif;
  color: #000000;
  float: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

div {
  border-radius: 5px;
  border: 2px dashed #7f007f;
}

#header {
  width: 98%;
  height: 50px;
  Margin-top: -10px;
  z-index: 1
  position: fixed;
  background-color: #fd5f5f;
}

#right {
  width: 98%;
  height: 300px;
  margin-top: 10px;
  position: relative;
  float: center;
  clear: both;
  background-color: #ff8f8f;
}
