h1 {
	font-family: Trebuchet, sans-serif;
	color: #CC6;
	float: center;
	margin-top: 10px;
}

div {
  border-radius: 5px;
  border: 2px dashed #7f007f;
}
p {
	color: #000;
	margin-left: 20px;
	font-size: 20px;
}

li {
	margin-left: 10px;
	color: #FFF;
}


#header {
	text-align: center;
	width: 99.5%;
	height: 60px;
	Margin-top: -10px;
 	z-index: 1
  	position: fixed;
	background-color: #CC0000;
}

#right {
	width: 95%;
	height: 300px;
	margin: 2px;
	position: relative;
	float: right;
	background-color: #666633;
	
}

#left {
	position: relative;
<<<<<<< HEAD
	width: 50px;
=======
	width: 4%;
>>>>>>> origin/master
	height: 300px;
	margin: 2px;
	background-color: #F66;
}
